# Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
pubspec.lock
.pub/
.pub-cache/

# IDE
.idea/
.vscode/

# Logs
*.log

# Environment variables
.env
.env.*
*.iml

# Android signing
android/key.properties
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db
obfuscation-symbols/0.3.0+4/app.android-arm.symbols
obfuscation-symbols/0.3.0+4/app.android-arm64.symbols
obfuscation-symbols/0.3.0+4/app.android-x64.symbols
obfuscation-symbols/0.3.3+7/app.android-arm.symbols
obfuscation-symbols/0.3.3+7/app.android-arm64.symbols
obfuscation-symbols/0.3.3+7/app.android-x64.symbols
